.options-list {
  display: flex;
  flex-direction: column;
  grid-gap: clamp(10px, 3.472vw, 50px);

  &__item {
    display: grid;
    grid-gap: clamp(20px, 3.472vw, 50px);
    align-items: stretch;

    ul {
      text-align: left;
      display: flex;
      flex-direction: column;
      grid-gap: 2px;
      list-style: initial;
      margin-left: 15px;
    }

    li {
      list-style: initial;
    }

    &--single {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: clamp(80px, 11.111vw, 160px) 20px;
      border-radius: clamp(25px, 4.167vw, 60px);

      .options-list__content {
        text-align: center;
        border: none;
        max-width: clamp(300px,52.083vw, 750px);
        margin: 0 auto;
        padding: 0;
      }
    }

    &--double {
      grid-template-columns: repeat(2, 1fr);

      @include small-tablet() {
        grid-template-columns: 100%;
      }
    }

    &--triple {
      grid-template-columns: 1fr auto 1fr;

      .options-list__content {
        max-width: 545px;
      }

      @include tablet() {
        grid-template-columns: 1fr 2fr 1fr;

        .options-list__content {
          max-width: initial;
        }
      }


      @include small-tablet() {
        grid-template-columns: 1fr 1fr;

        .options-list__content {
          grid-column: span 2;
          order: -1;
        }
      }

      @include small-tablet() {
        grid-template-columns: 1fr;

        .options-list__content {
          grid-column: initial;
          order: initial;
        }

        .options-list__image {
          max-height: 50vw;
        }
      }
    }

    &--image {
      background-size: 150% 150%;
      background-position: center;
      justify-content: space-between;
      grid-template-columns: Min(45.694vw,514px) auto;
      align-items: center;
      border-radius: clamp(25px, 4.167vw, 60px);
      padding:
      clamp(20px, 4.167vw, 60px)
      20px
      clamp(20px, 4.167vw, 60px)
      clamp(20px, 4.167vw, 60px);


      .options-list__content {
        border: none;
        max-width: initial;
        padding: 0;
      }

      .options-list__image {
        display: inline;
        width: fit-content;

        img {
          border-radius: none;
          width: initial;
          height: auto;
        }
      }

      @include small-tablet() {
        grid-template-columns: 100%;
      }
    }
  }

  &__content {
    padding: clamp(20px, 4.167vw, 60px);
    border-radius: clamp(25px, 4.167vw, 60px);
    border: 2px solid var(--bg-c);
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-gap: clamp(20px, 2.083vw, 30px);

    .main-title {
      font-size: clamp(20px, 3.472vw, 50px);
    }

    @include small-tablet() {
      text-align: center;
    }
  }

  &__image {
    display: flex;
    width: 100%;
    img {
      border-radius: clamp(25px, 4.167vw, 60px);
      height: 100%;
      width: 100vw;
    }
  }
}
